
*                              {border:0px;margin:0;padding:0;text-align:left }
body, td, input, textarea, select, button { color: #000; font: 12px Helvetica, Arial, sans-serif; }
body                           {background-color: #000;}
#snp-detail,#snp-video-content                  { color: #fff;line-height:22px;}
a                              {color: #F9D060;text-decoration: none;  }
a:hover                        {color: #f05500;text-decoration:underline}
#snp-image                     {border: #ccc 1px solid;padding:2px}
#div-page                      {background-color: #000;}
#div-content                   {width:880px;}

#div-top-link                  {padding: 5px 5px 2px 5px ; height:18px; }

#input-search                  {width:100px ;font-size: 11px;border: 1px solid #ccc;}
.input-snp                     {background-color: #EEEEEE;border-bottom: #FFFFFF 1px solid;border-left: #CCCCCC 1px solid;border-right: #FFFFFF 1px solid;border-top: #CCCCCC 1px solid;}
.input-snp-onfocus             {background-color:#F0F8FF;border: 1px solid #333333;}
#div-top-link                  {text-align: left; }                                                                     
#div-top-link  a               {font-weight: bold;}        
#div-language                  {float:right}
#div-language  li              {display: inline;}

#top-lanmu                     {width:100%;border-bottom:1px solid #ccc; height:24px;text-align:center}
#top-lanmu li                  {display: inline;padding:0 0 0 3px;text-decoration:none;}
#top-lanmu li a                {font-size:13px; font-weight: bold; COLOR: #fff; padding:5px 15px 0px 6px;}
#top-lanmu li  a:hover         {text-decoration:underline}

#bottom                        {width:100%;text-align:left;border-top :#ccc 1px dotted; color:#ccc;padding-top:10px ;}
#bottom-extlink                {padding-top:8px ;float:left}
#bottom-extlink a              {font-weight: bold; text-decoration:none;  }
#bottom-extlink a:hover        {text-decoration:underline;}
#bottom-extlink a span         { padding: 0px 5px 0px 3px;}



#div-dir                       {width: 170px; padding-left: 4px; padding-right: 4px; color: #333333; float: left;   } 
#snp-left-lanmutitle           {color:#CCE529;;	padding: 7px 0px 2px 8px;font:13px;font-weight: bold;}
#navlist ul                    {border: none;list-style-type: none;}
#navlist li                    {list-style-type: none;}


#div-right                     {width: 180px;}
#snp-right-title               {COLOR: #666666;	padding: 7px 0px 2px 2px;font:13px;font-weight: bold;  }


#snp-listclasses-title         {line-height:28px; font-size: 13px; font-weight: bold;COLOR: #D0FFFF; }
#snp-item-title                {line-height:26px;  font-size: 12px;  COLOR: #EFE6A5; }


#snp-video-bg                  {width:100%}
#snp-video-gif                 {border: #ccc 1px solid;padding: 5px 6px 3px 6px; }  
#snp-video-div                 {background-color:#000; }  


#snp-div-block-title           {padding: 15px 0px 0px;font-weight: bold; color: #FF5426}
#snp-div-block-content         {color: #666; 0px 5px 5px 0px;}

#snp-tb-title                  {color:#fff; padding: 0px 2px 0px 3px;border:2px solid #2f2f2f;background:#2f2f2f;width:400px}
#snp-tb-content                {padding: 8px 2px 2px 3px;width:400px;border:2px solid #2f2f2f;}

.out                     {display:block;  background:#383838;  border:1px solid #383838; position:relative;margin:5px;
  }

.in {
   background-color:#bbb;
   position:relative; 
  padding:6px;
 
  }
  .ltin {
  left:-3px;
  }
.tpin {
  top:-3px;
  }
  
.bt                     {color:#484848;cursor: hand;font-weight:bold;padding:2px 4px 1px 5px;BACKGROUND: url(/imagesadmin/website/siteadmin/bt_bk.gif) #fff repeat-x; border: 1px solid #c9d7f1;text-align:center}


.input-blur              {border: 1px solid #c9d7f1;}
.input-focus             {border: 1px solid #dcc57f;background-color:#ffffd3;}

#resizable {width:200px; height: 160px; padding: 0.5em;background-color: #fff; }

