@import "main0.css";
a:hover                        {color: #990000; }
#div-page                      {padding: 0px 0px 0px 0px ;}
#top-lanmu                     {font-size:13px;width:100%;background:#197CAE; height:22px;padding:6px 5px 0px 5px;}
#top-lanmu li a                {COLOR: #fff; }
#top-lanmu li  a:hover         {color: #F9D060;}



