@import "main0.css";
a                              {color: #3B73B9;text-decoration: none;   }
a:hover                        {color: #A9B8DF; text-decoration:underline;}
#snp-image                     {border: #ccc 1px solid;padding:2px}



  
#top-lanmu               {height:16px;text-align: center; width:100%;padding:5px 0px 4px 0px;  background:#F4F7FB;border-bottom:1px solid #BCD2E6; text-align:center}
#top-lanmu li            {display: inline;  }
#top-lanmu li a          {font-weight: bold;padding:0px 0px 0px 4px;}
#top-lanmu a             {font: bold 12px ; background:url("../other/blue/tpl_left_blue2.gif") no-repeat left top;margin:0; padding:0 0 0 2px; text-decoration:none;}
#top-lanmu a span        {background:url("../other/blue/tpl_right_blue2.gif") no-repeat right top;padding:4px 11px 3px 2px;  color:#627EB7;}
#top-lanmu a:hover span  {color:#591333;}
#top-lanmu a:hover       {background-position:0% -42px;}
#top-lanmu a:hover span  {background-position:100% -42px;}

#bottom                        {width:100%;text-align:left;	}
#bottom-extlink                {}
#bottom-extlink a              {text-decoration:none;  }
#bottom-extlink a:hover        {text-decoration:underline;}
#bottom-extlink a span         {padding: 0px 5px 0px 3px;}

#div-dir  {width: 175px; padding-left: 4px; padding-right: 4px; color: #333333; float: left;    } 
#snp-left-lanmutitle{COLOR: #666666;	border-bottom: 1px solid #ccc;padding: 0px 0px 2px 8px;}

